@{
 Layout = "~/Views/Shared/_Splash.cshtml";
}

<div class="splashtitle">
    <div class="splash">
        <p style="font-size: 24vw; color:white;">RallyPoint</p>
        <div class="sub">
            <p style="color: white;">The leading table tennis portal.</p>
            <!-- <a href="/login" style="color:white;">Enter Site</a> -->
        </div>
    </div>
</div>