@{
 Layout = "~/Views/Shared/_ForumLayout.cshtml";
}

<div class="wrapper">

        <p>Channels</p>
        <ul class="uk-breadcrumb">
            <li><a href="">Pro</a></li>
            <li><a href="">All</a></li>
            <li><a href="">QandA</a></li>
        </ul>

        <div class="uk-panel uk-margin-medium" style="text-align: right;" id="forum-toolbar">
            <div>
                <a class="uk-button uk-button-default" href="forum/create"><span class="uk-icon uk-margin-small-right" uk-icon="icon: plus; ratio: 1"></span>Create Post</a>
            </div>
        </div>

        <div class="uk-panel uk-margin-medium">
            <h3 class="categories">Top Post </h3>
        </div>

        <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                    <p>Placeholder recent</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <hr class="uk-divider-icon">
        <div class="uk-panel uk-margin-medium">
            <h3 class="categories">Recent Posts</h3>
        </div>

        <!-- <div class="uk-grid-match uk-child-width-expand@m" uk-grid> -->
            @foreach(var post in @ViewBag.RecentPost)
            {
                <div>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-body" id="postlist">
                        <p class="post-title">@post.title </p>
                        <a href="/profile/@post.user.username"><p class="post-data"><span class="uk-icon uk-margin-small-right" uk-icon="icon: user; ratio: .5"></span>@post.user.username </p></a>
                    </div>
                </div>
            }
        <!-- </div> -->


</div>